<!DOCTYPE HTML>
<html>

<head>
  <title>Death by Vocabulary</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
  <link href='static/css/main.css' rel='stylesheet' type='text/css'>

<style>
  #desc{
    font-size:1.5em;
  }
  </style>
</head>


<body>
  <h1><strong> Death by Vocabulary</strong> </h1>
  <p id="desc" align="center"></br>Click on the right option for the corresponding blank.</br>You can only access the next blank after completing the current
    one.</p>
  <main>
    <section class="letters">
      <h1> Choose the right option! </h1>
      <ul class="optionstodisplay">


      </ul>

    </section>
    <div class='hang-container'>
      <div class='scaffolding-top'></div>
      <div class='scaffolding-left'></div>

      <div class='draw-area'>
        <div class='rope'></div>
      </div>
      <div class='scaffolding-base'></div>
    </div>

    <section class="final">
      <ul class="answerul">

      </ul>
    </section>


    <script>

		
function drawHead() {
  $('.draw-area').append($('<div>').addClass("body-part head"));
}

function drawTorso() {
  $('.draw-area').append(
    $('<div>').addClass("body-part armbox").append(
      $('<div>').addClass("body-part torso")));
  $('.draw-area').append(
    $('<div>').addClass("body-part legbox").append(
      $('<div>').addClass("body-part pelvis")));
}

function drawLeftArm() {
  $('.armbox').prepend($('<div/>').addClass("body-part leftarm"));
}

function drawRightArm() {
  $('.armbox').prepend($('<div/>').addClass("body-part rightarm"));
}

function drawLeftLeg() {
  $('.legbox').prepend($('<div/>').addClass("leftleg"));
}

function drawRightLeg() {
  $('.legbox').prepend($('<div/>').addClass("body-part rightleg"));
}


function createArray(data) {
    var temp = data ; 
    return temp ;
}


var hangmanState = 0;

var drawSequence = [drawHead, drawTorso, drawLeftArm, drawRightArm, drawLeftLeg, drawRightLeg];


function drawfig() {
  drawSequence[hangmanState++]();
}

//the transformation path extracted from flask 
var finalanswer = createArray({{words|safe}}) ;

var len= " {{ lengthoptions }} " ;

var lenwords = "{{lengthwords}}" ;


while(len!=0 ){
   var opt = document.getElementsByClassName("optionstodisplay")[0] ; 
   var li = document.createElement("li") ; 
   var btn = document.createElement("button") ;
   btn.setAttribute("class" , "ul.letters") ; 
   btn.setAttribute("class" , "li.letters") ;
   btn.setAttribute("class" , "game-mechanics") ; 
   btn.setAttribute("class" , "blank-spaces") ; 
   btn.setAttribute("class" , "main") ;
   btn.setAttribute("class" , "body") ;
   btn.style.fontSize = '100%' ;
   btn.setAttribute("class" , "created") ;
   btn.addEventListener("click" , compareRes , "false") ; 
   li.appendChild(btn) ; 
   opt.appendChild(li) ; 
   len -= 1 ; 

}


var buttons = document.querySelectorAll(".created") ; 

var count = 0 ;

 {%for item in options %}
   buttons[count++].innerHTML = "{{item}}";
    {% endfor %}



while(lenwords!=0 ){
   var opt = document.getElementsByClassName("answerul")[0] ; 
   var li = document.createElement("li") ; 
   var btn = document.createElement("button") ;
   btn.setAttribute("class" , "ul.final") ; 
   btn.setAttribute("class" , "li.final") ;
   btn.setAttribute("class" , "game-mechanics") ; 
   btn.setAttribute("class" , "blank-spaces") ; 
   btn.setAttribute("class" , "main") ;
   btn.setAttribute("class" , "body") ;

   btn.setAttribute("class" , "answercreated") ;
   li.appendChild(btn) ; 
   opt.appendChild(li) ; 
   lenwords -= 1 ; 
}
var buttons = document.querySelectorAll(".answercreated") ; 
var countforlength = 0 ;

 {%for item in words %}
    countforlength +=1 ; 
 {% endfor %}

countforlength -= 1 ;

buttons[0].innerHTML = finalanswer[0];
buttons[countforlength].innerHTML= finalanswer[finalanswer.length-1] ;


var counterforarray = 1 ; 
var loss = 0 ; // Counter for losing

function compareRes(e) {
  if( e.target.innerHTML != finalanswer[counterforarray]){
      drawfig() ; 
       loss += 1 ;
        if ( loss == 6 ){
          setTimeout(function(){window.location="/lose"},500);
   }
  
  }
  else {
  buttons[counterforarray].innerHTML = finalanswer[counterforarray] ;
  counterforarray += 1 ;
  if( counterforarray == finalanswer.length-1 ) {     
/*    buul = window.confirm('YOU WON! Would you like to play again?') ;
    if(buul == true){
*/     //setTimeout(location.reload(),2000)  ;
     setTimeout(redirectwin(),2000);
     function redirectwin(){window.location="/won" ;
            }
  
    }
}

}
</script>

</main>
</body>

</html>